


.ltf {
    margin-bottom: 0 !important;
}

.ltfModal {
    color: #cde !important;
}

.ltfModal blockquote {
    border-left: 1px solid #abc !important;
}




a.frmt-btn {
    padding: 1px 7px;
    margin: 0 2px 0 0;
}

a.prv-btn {
    font-size: .9rem;
    padding: 6px 12px 6px 12px;
}

div.frmt-prv {
    padding-left: 10px;
    border-left: 1px #9ab solid;
    overflow: auto !important;
    /*resize: vertical; */
    color: #9ab;
}

div.frmt-row {
    padding-top: 4px;
}

.ltf-hidden {
    opacity: 0%;
    cursor: default;
    pointer-events: none;
}