#colorbox {
    overflow: visible !important;
}

#cboxWrapper{
    overflow: visible !important;
    width: fit-content !important;
}
#cboxLoadedContent {
    overflow: auto !important;
    height: fit-content !important;
    width: fit-content !important;
}

textarea#frm-review {
    resize: vertical !important;
}

.ltf {
    margin-bottom: 0 !important;
}

.ltfModal {
    color: #cde;
}

.ltfModal blockquote {
    border-left: 1px solid #abc !important;
}

a.frmt-btn {
    padding: 1px 7px;
    margin: 0 2px 0 0;
}

div.frmt-prv {
    padding-left: 10px;
    border-left: 1px #9ab solid;
    overflow: auto;
    resize: vertical;
}